<!--  Created by TAODELL on 2014/10/14. -->
   
<!DOCTYPE html>
<html>
<head lang="zh-CN">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="/favicon.ico" type="img/x-icon"/>
  <title></title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>亲，您的订单列表</h1>
    </div>
    <div class="row">
        <table class="table" style="width:100%" border="1">
            <tr><th>订单号</th><th>电话</th><th>姓名</th><th>取件地址</th><th>送件地址</th><th>状态</th></tr>
                <% for(var i = 0; i<orders.length; i++) {%>
                <tr>
                <td><a href="/order/id/<%= orders[i].order_id %>"><%= orders[i].order_id %></a></td>
                <td><%= orders[i].mobile %></td>
                <td><%= orders[i].contact %></td>
                <td><%= orders[i].pick_addr %></td>
                <td><%= orders[i].drop_addr %></td>
                <td><%= orders[i].state %></td>
                </tr>
                <% } %>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-3"><a href="/">首页</a> </div>
        <div class="col-xs-3"><a href="/myaccount">我的帐户</a> </div>
        <div class="col-xs-3"><a href="/order">我的衣单</a> </div>
        <div class="col-xs-3"><a href="/logout">退出登陆</a> </div>
    </div>
</div>

</body>
<script src="/javascripts/bootstrap.min.js"></script>
</html>